<div class="col-md-6">
  <div class="container">
    <h2 class="text-center">Sacar Dinheiro</h2>

    <form autocomplete="off" #saqueForm="ngForm" (ngSubmit)="sacar(saqueForm)" >
      <div class="form-group">
        <label for="numConta" class="form-control-label">Nº Conta: *</label>
        <input [(ngModel)]="transacao.conta" name="numConta" class="form-control" id="numConta" #numConta="ngModel" required maxlength="6">

        <div *ngIf="numConta.hasError('required') && (numConta.touched || saqueForm.submitted)" class="text-danger" >
          Campo obrigatório
        </div>
      </div>
    
      <div class="form-group">
        <label for="valor" class="form-control-label">Valor: *</label>
        <input [(ngModel)]="transacao.valor" name="valor" class="form-control" id="valor" #valor="ngModel" required>

        <div *ngIf="valor.hasError('required') && (valor.touched || saqueForm.submitted)" class="text-danger" >
          Campo obrigatório
        </div>
      </div>
    
      <button class="btn btn-success" type="submit">Sacar</button>
    </form>
  </div>
</div>